/** 
 * <p>Description: </p> 
 *
 * @author kuzan
 * @since  2018-04-21
 */
body {
    background: url("../assets/img/login-backimg-1.jpg");
    animation-name: myfirst;
    /*变换时间*/
    animation-duration: 30s;
    /*动画开始时间*/
    animation-delay: 5ms;
    /*下一周期循环播放*/
    animation-iteration-count: infinite;
    /*动画开始运行*/
    animation-play-state: running;
}

@keyframes myfirst {
    0% {
        background: url("../assets/img/login-backimg-1.jpg");
    }
    34% {
        background: url("../assets/img/login-backimg-2.jpg");
    }
    67% {
        background: url("../assets/img/login-backimg-3.jpg");
    }
    100% {
        background: url("../assets/img/login-backimg-4.jpg");
    }
}

.form {
    background: rgba(255, 255, 255, 0.2);
    width: 400px;
    margin: 120px auto;
}

/*阴影*/
.fa {
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}

input[type="text"], input[type="password"] {
    padding-left: 26px;
}

.checkbox {
    padding-left: 21px;
}