<!--
 * <p>Description: 应用首页</p>
 *
 * @author kuzan
 * @since  2018-04-11
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>首页</title>
    <link rel="stylesheet" href="../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../static/plugin/bootstrap-3.3.7/css/bootstrap-tab.css"></link>
    <link rel="stylesheet" href="../static/plugin/font-awesome/css/font-awesome.min.css"></link>
    <!-- 首页 CSS -->
    <link rel="stylesheet" href="../static/css/index.css"></link>
</head>

<body>
<!-- 前端html页面的 header -->
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> ElasticSearch Cluster</a>
    </div>
    <!-- navbar-header-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                        class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
            </li>
        </ul>
    </div>
    <!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- 左边功能区 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-envira fa-stack-1x "></i></span>
                    集群部署</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i>
                            </span>部署安装</a>
                    </li>
                    <li><a href="#" onclick="PageContent.addPageTab('operation/index','启动和停止')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i>
                            </span>启动和停止</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-database fa-stack-1x "></i></span>
                    数据库
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-database fa-stack-1x "></i>
                            </span>数据库总览</a>
                    </li>
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-database fa-stack-1x "></i>
                            </span>索引总览</a>
                    </li>
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-database fa-stack-1x "></i>
                            </span>自定义结构</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-server fa-stack-1x "></i></span>
                    数据接口服务
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i>
                            </span>接口调用</a>
                    </li>
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i>
                            </span>接口详情</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-cloud fa-stack-1x "></i></span>
                    数据导入导出
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload fa-stack-1x "></i>
                            </span>数据导入</a>
                    </li>
                    <li><a href="#" onclick="PageContent.addPageTab('install/index','部署安装')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-download fa-stack-1x "></i>
                            </span>数据导出</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-server fa-stack-1x "></i></span>
                    Contact</a>
            </li>
        </ul>
    </div>
    <!-- 右边页面显示容器 -->
    <div id="page-content-wrapper">
        <div id="tabContainer">

        </div>
    </div>
</div>
<!-- ALL JS -->
<script src="../static/plugin/jquery/jquery-1.10.2.min.js"></script>
<script src="../static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../static/plugin/bootstrap-3.3.7/js/bootstrap-tab.js"></script>
<!-- 首页 JS -->
<script src="../static/js/index.js"></script>
</body>
</html>