<!--
 * <p>Description: </p>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>operation</title>
</head>
<body>
<div id="legend-connect" style="padding-top: 30px">
    <legend class="" style="padding-left: 50px">集群节点</legend>
</div>
<table id="mytable" class="table">
    <thead>
    <tr style="font-size: 18px">
        <th>节点名称</th>
        <th>运行情况</th>
        <th>Tcp 端口</th>
        <th>Http 端口</th>
        <th>描述</th>
        <th>启动</th>
        <th>停止</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="../static/js/operation.js"></script>
</body>
</html>