<!--
 * @author kuzan
 * @since  2018-01-28
 * @descr 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>upload</title>
    <link href="/plugin/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/plugin/jquery/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="col-md-12">love you</div>
<h2>excel文件上传</h2>
<hr/>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <p>
        文件：<input type="file" name="file"/>
    </p>
    <p>
        <input type="submit" value="上传"/>
    </p>
</form>
</body>
</html>